.main {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.main > div {
    width: 20%;
    margin: 0 2% 0;
    margin: auto;
}

.main > div > div:nth-child(1) {
    width: 300px;
    height: 250px;
}

.main img {
    max-width: 100%;
    max-height: 100%;
}